<div class="bottom-modal">
    <div class="title">Voeg groente toe</div>
    <div class="sub-title">Kies een groente voor het gekozen vak.</div>

    <div class="select-plant">
        <ul>
            <li (click)="saveEmpty()">
                <div class="plant">
                    leeg
                </div>
            </li>
            <li *ngFor="let p of plants" (click)="saveNewPlant(p.id)">
                <div class="plant">
                    <div class="plant-title">{{ p.name }}</div>
                    <div *ngIf="p.icon !== null" class="plant-icon"><img src='assets/svg/{{p.icon}}.svg'/></div>
                    <div *ngIf="p.icon === null" class="plant-icon"><img src='assets/svg/generic-plant.svg'/></div>
                </div>
            </li>
        </ul>
    </div>
</div>