<div class="bottom-modal">
    <div class="title">Voeg groente toe</div>
    <div class="sub-title">Kies een groente voor het gekozen vak.</div>

    <div class="select-plant">
        <ul>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
            <li>
                <div class="plant">
                    <div class="plant-icon">🥔</div>
                   <div class="plant-title">Aardappel</div>
                </div>
            </li>
        </ul>
    </div>
    <form>
        <!-- <select name="plantKind" >
            <option value="1">Aardappel</option>
            <option value="2">Brocolli</option>
            <option value="3">Sperziebonen</option>
            <option value="4">Courgette</option>
            <option value="5">Komkommer</option>
            <option value="6">Tomaat</option>
            <option value="7">Prei</option>
            <option value="8">Pompoen</option>
        </select> -->
        <button (click)="saveNewPlant()">Voeg toe</button>
    </form>
</div>