.select-plant {
    overflow-x: scroll;
    margin-bottom: 15px;
    padding: 0px 0px 0px 10px;
}
.select-plant ul{
    white-space: nowrap;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    /* height: 60px; */
}

.select-plant li {
    display: inline-block;
}
.select-plant li:last-child {
    padding: 0px 10px 0px 0px;
}
.select-plant li .plant {
    cursor: pointer;
    padding: 5px 10px 10px 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    width: 80px;
    height: 90px;
    text-align: center;
    background: #FFF;
    position: relative;
    box-shadow: inset 0px 0px 0px 2px #000;
}

.select-plant li .plant .plant-title {
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: .8em;
}

.select-plant li .plant .plant-icon {
    position: relative;
}

.select-plant li .plant .plant-icon img {
    position: absolute;
    height: 70px;
    left: calc(50% - 34px);
    width: 68px;
}
