<div class="bottom-modal">
    <div class="title">Voeg groente toe</div>
    <div class="sub-title">Kies een groente voor het gekozen vak.</div>

    <div class="select-plant">
        <ul>
            <li *ngFor="let p of plants" (click)="saveNewPlant(p.id)">
                <div class="plant">
                    <div class="plant-title">{{ p.name }}</div>
                    <div class="plant-icon"><img src='assets/svg/adjuma-pepper.svg'/></div>
                </div>
            </li>
        </ul>
    </div>
</div>