.select-plant {
    overflow-x: scroll;
    margin-bottom: 15px;
    padding: 0px 0px 0px 10px;
}
.select-plant ul{
    white-space: nowrap;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    /* height: 60px; */
}

.select-plant li {
    display: inline-block;
}
.select-plant li:last-child {
    padding: 0px 10px 0px 0px;
}
.select-plant li .plant {
    cursor: pointer;
    padding: 5px 0px 10px 0px;
    margin: 0px 5px 0px 5px;
    border-radius: 8px;
    width: 80px;
    height: 90px;
    text-align: center;
    background: #F2F2F2;
}

.select-plant li .plant .plant-title {
    color: #999;
    font-size: .9em;
}
.select-plant li .plant .plant-icon {
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0px auto;
    background: #c0e1c0;
    margin: 10px auto;
}