<span class="garden-header">Overzicht</span>
<ul class="garden-overview">
    <li>
        <div>Aardappel</div>
        <ul class="calendar">
            <li>jan</li>
            <li class="zaai">feb</li>
            <li class="zaai">mrt</li>
            <li class="grond">apr</li>
            <li class="grond">jun</li>
            <li>jul</li>
            <li class="grond">aug</li>
            <li class="oogst">sep</li>
            <li class="oogst">okt</li>
            <li>nov</li>
            <li>dec</li>
        </ul>
    
    </li>
    <li>Aardappel</li>

</ul>