<span class="garden-header">Overzicht</span>
<ul class="garden-overview">
    <li  *ngFor="let content of gardenContentArray">
        <div class="overview-plant">
            <img src='assets/svg/{{ content.plant.icon }}.svg'/>
            <div class="overview-plant-title">{{content.plant.name}}</div>
        </div>
        <ul class="calendar">
            <li *ngFor="let month of monthsOfYear; let i = index;"
             [ngClass]="{'zaai' : getMonthActionSeed(content.plant.seedPeriod, i+1)}" 
             [ngClass]="{'grond' : getMonthActionGround(content.plant.plantPeriod, i+1)}" 
             [ngClass]="{'oogst' : getMonthActionHarvest(content.plant.harvestPeriod, i+1)}">
                {{month}}
            </li>
        </ul>   
    </li>
</ul>