.garden {
    border-radius: 8px;
    margin: 10px;
}

.garden-header {
    background: #FFF;
    color: #000;
    display: block;
    padding: 0px 15px 0px 15px;
    font-size: 1.3em;
}

.garden-overview {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.overview-plant {
    padding: 10px 10px 0px 10px;

}

.garden-overview img {
    width: 25px;
    display:inline-block;
}

.overview-plant-title {
    display: inline-block;
    font-weight: 800;
    padding: 0px 5px 0px 5px;
    line-height: 25px;
    vertical-align: top;
}

ul.calendar {
    list-style-type: none;
    overflow-x: scroll;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    white-space: nowrap;
}

ul.calendar li {
    display: inline-block;
    height: 30px;
    width: 40px;
    background: #FFF;
    box-shadow: inset 2px 0px 0px 0px #000,
        inset 0px -2px 0px 0px #000,
        inset 0px 2px 0px 0px #000;
    font-size: .8em;
    color: #000;
    text-align: center;
    font-weight: 800;
    line-height: 30px;
}

ul.calendar li:first-child {
    margin: 0px 0px 0px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

ul.calendar li:last-child {
    margin: 0px 10px 0px 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: inset 2px 0px 0px 0px #000,
    inset -2px 0px 0px 0px #000,
    inset 0px -2px 0px 0px #000,
    inset 0px 2px 0px 0px #000;
}

ul.calendar li.zaai { color: #FFF; background: blue;}
ul.calendar li.grond { color: #FFF; background: orange;}
ul.calendar li.oogst { color: #FFF; background: green;}