
.garden {
    border-radius: 8px;
    margin: 10px;

}

.garden-name {
    background: #FFF;
    text-align: center;
    display: block;
    padding: 5px 15px 5px 15px;
}

.garden ul {
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: table;
}
.garden li {
    display: table-cell;

}

.garden li .garden-element {
    background: #55360E;
    border-radius: 5px;
    margin: 1px;
    padding-bottom: 100%;
    cursor: pointer;

}

.garden li .garden-element:hover {
    background: #222;
}