<div class="garden-wrap">
    <img src='assets/svg/beet.svg'/>
    <img src='assets/svg/blackberry.svg'/>
    <img src='assets/svg/blueberry.svg'/>
    <img src='assets/svg/broccoli.svg'/>
    <img src='assets/svg/brussel-sprout.svg'/>
    <img src='assets/svg/carrot.svg'/>
    <img src='assets/svg/cauliflower.svg'/>
    <img src='assets/svg/corn.svg'/>


    <span class="btn" (click)="toggleDisplay()">Maak een tuin</span>
    <span routerLink="/mijn-tuin" class="btn">Bekijk mijn tuin</span>
</div>
<app-new-garden-form (savingIsDone)="newGardenSubmitted()" [hidden]="isShow"></app-new-garden-form>
