
.garden {
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0px 0px 0px 1px #CCC;
}

.garden .garden-element {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 0px 1px 0px 0px #CCC, 1px 0px 0px 0px #CCC;

}