
<div class="garden">
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>    
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
    <span class="garden-element"></span>
</div>
<span>{{ garden | json }}</span>