:root {
    --main-bg: #E1FFD6;
    --main-color: rgb(73, 155, 35);
    --zaai-color: #ff5b29;
    --grond-color: #ffa809;
    --oogst-color: green;
}

body, html {
    background: var(--main-bg);
    color: var(--main-color);
    font-family: Arial,Helvetica,sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.garden-wrap {
    text-align: center;
    color: rgb(9, 67, 7);
    height: 100%;
    min-width: 350px;
    max-width: 800px;
    margin: 0px auto;
}

.bottom-modal {
    background: #FFF;
    animation: bottom-show 200ms;
    z-index: 999;
    position: fixed;
    bottom: 0px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 0px 2px #316818;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform: translate(calc(50vw - 50%));
}

@keyframes bottom-show {
    0% { translate: 0% 100%;}
    100% { translate: 0% 0%;}
}

.bottom-modal input[type=text] {
    border-radius: 8px;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 0px 10px;
    width: calc(100% - 50px);
    box-shadow: inset 0px 0px 0px 2px #CCC;
}
.bottom-modal select {
    background: #fff;
    border: none;
    padding: 15px;
    font-size: 1em;
    color: #666;
    border-radius: 8px;
    display: inline-block;
    width: calc(50% - 20px);
    margin: 10px 10px 0px 10px;
    box-shadow: inset 0px 0px 0px 2px #CCC;
}
.bottom-modal select.dimensionY {
    display: inline-block;
    margin: 10px 0px 10px 10px;
    width: calc(50% - 10px);
}

.bottom-modal button {
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--main-color);
    color: #FFF;
    font-size: 1em;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 20px);
}

.bottom-modal .title {
    padding: 15px 5px 5px 5px;
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
}
.bottom-modal .sub-title {
    color: #666;
    text-align: center;
    font-weight: 300;
    padding: 0px 15px 15px 15px;
}

.btn {
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    font-weight: 300;
    margin: 10px auto;
    display: block;
    max-width: 200px;
}
